@font-face {
  font-family: "Pacifico";
  src: url("../font/Pacifico-Regular.ttf");
}

@charset "utf-8";

/**************
 setting for PCs
 **************/
/* PCs common */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

a img {
  border: none;
  transition: transform 2s;
  animation-duration: 3s;
  animation-name: slidein_mgleft;
}

a img:hover {
  transform: rotate(360deg);
}

header {
  padding: 15px 0;
}

nav {
  top: 0;
  right: 15px;
  position: absolute;
  animation-duration: 3s;
  animation-name: slidein_nav;
}

@keyframes slidein_nav {
  from {
    margin-right: 60%;
  }

  50% {
    margin-right: 10%;
  }

  to {
    margin-right: 0%;
  }
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul::after {
  content: "";
  clear: both;
  display: block;
}

nav ul li {
  padding-left: 1.5em;
  list-style: none;
  float: left;
  color: #ffffff;
  font-family: "Pacifico", cursive;
  font-size: 24px;
}

nav ul li a:hover {
  color: #ffff99;
  text-decoration: underline;
}

footer {
  padding: 10px 0;
  background-color: #000000;
}

.copyright {
  color: #ffffff;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  position: relative;
}

.contents {
  margin: 100px 0;
}

/*common settings for all pages*/
#page {
  background-color: #ffffff;
}

#page header {
  background-image: url("../images/img_header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title_page {
  margin-bottom: 0.8em;
  font-family: "Pacifico", cursive;
  font-size: 36px;
  line-height: 1.2;
  animation-duration: 3s;
  animation-name: slidein_mgleft;
}

@keyframes slidein_mgleft {
  from {
    margin-left: 100%;
  }

  50% {
    margin-left: 50%;
  }

  to {
    margin-left: 0%;
  }
}

.index {
  margin-bottom: 1.2em;
  padding-left: 0.5em;
  border-left: 6px solid #4e3618;
  font-size: 20px;
  color: #4e3618;
  line-height: 1.4;
}

/* settings for the index-page*/
#top {
  background-image: url("../images/coffee-computer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#top footer {
  background-color: transparent;
}

h1.top_message {
  margin-bottom: 100px;
  color: #4e3618;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 28px;
  font-weight: 550;
  line-height: 1.4;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein_topmsg;
}

@keyframes slidein_topmsg {
  from {
    margin-left: 100%;
    width: 400%;
  }

  50% {
    font-size: 400%;
    margin-left: 50%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2.info_message {
  margin: 10px 0;
  color: blue;
  font-family: "Pacifico", cursive;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein_info_msg;
}

@keyframes slidein_info_msg {
  from {
    margin-left: 200%;
  }

  50% {
    margin-left: 50%;
  }

  to {
    margin-left: 0%;
  }
}

.information {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: 700px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  overflow: auto;
  animation-duration: 3s;
  animation-name: slidein_mgtop;
}

@keyframes slidein_mgtop {
  from {
    margin-top: 100%;
  }

  50% {
    margin-top: 50%;
  }

  to {
    margin-top: 0%;
  }
}

.information table {
  width: 100%;
  border-collapse: collapse;
}

.information table th {
  padding: 0 1em;
  width: 100px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

.information table td {
  padding: 0;
  vertical-align: top;
}

/* settings for Menu */
main.column_2 {
  padding-right: 30px;
  width: 75%;
  float: left;
  box-sizing: border-box;
}

h2.index {
  color: white;
  text-align: center;
  width: 100%;
  background-color: #4e3618;
  box-sizing: border-box;
}

aside {
  width: 25%;
  float: right;
}

.container::after {
  content: "";
  clear: both;
  display: block;
}

section {
  padding-bottom: 60px;
}

section::after {
  content: "";
  clear: both;
  display: block;
}

.img_float_r {
  padding-left: 15px;
  padding-bottom: 15px;
  float: right;
  transition: transform 2s;
}

.img_float_r:hover {
  transform: rotate(360deg);
}

.block_flex {
  display: flex;
  flex-wrap: wrap;
}

.flex_item {
  padding: 0 10px 20px;
  width: 33.33%;
  box-sizing: border-box;
}

.img_menu {
  text-align: center;
}

.img_menu img {
  max-width: 100%;
  transition: transform 2s;
}

.img_menu img:hover {
  transform: rotate(360deg);
}

.flex_item h3 {
  font-size: 18px;
  font-weight: normal;
}

.flex_item p {
  text-align: right;
  font-size: 14px;
}

aside ul {
  margin: 0;
  padding-left: 1.5em;
}

aside ul li {
  margin-bottom: 5px;
  color: #2e8b57;
  font-size: 18px;
  font-weight: bold;
}

aside ul li a:hover {
  text-decoration: underline;
}

/* settings for Access */
.block_access {
  margin-bottom: 0.5em;
}

.block_access iframe {
  width: 100%;
  height: 400px;
}

/* settings for Contact */
.block_contact {
  padding: 60px;
  background-color: #eeeeee;
}

.block_contact dl {
  margin: 0;
  font-size: 18px;
  line-height: 1.8;
  width: 100%;
  padding: 60px;
  display: table;
}

.block_contact dl dt,
.block_contact dl dd {
  padding: 0.5em 0;
  display: table-cell;
}

.block_contact dl dt {
  width: 100px;
  vertical-align: top;
}

.required {
  font-size: 12px;
  color: #ff0000;
  font-style: oblique;
}

input {
  font-size: 18px;
  line-height: 1.8;
}

input[type="text"],
input[type="email"] {
  -webkit-appearnce: none;
  -moz-appearnce: none;
  padding: 0.3em 0.5em;
  width: 260px;
  line-height: 1;
  border: 1px solid #aaaaaa;
  border-radius: 0;
}

.block_contact dl dd.btn {
  text-align: center;
}

input[type="submit"] {
  -webkit-appearnce: none;
  -moz-appearnce: none;
  padding: 5px 30px;
  font-size: 20px;
  color: #ffffff;
  background-color: #0099cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

input[type="submit"]:hover {
  background-color: #00bbee;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.3em 3em 0.3em 0.5em;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  border-radius: 0;
  background-color: #ffffff;
  background-image: url("../images/img_list.png");
  background-position: center right;
  background-repeat: no-repeat;
}

select::ms-expand {
  display: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em;
  font-size: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 0;
}

/**************
settings for smartphones
 **************/
@media (max-width: 767px) {
  /* common setting for smartphones */
  html {
    scroll-behavior: smooth;
  }

  body {
    font-size: 12px;
  }

  nav {
    position: relative;
  }

  nav ul li {
    padding-left: 1.2em;
    font-size: 20px;
  }

  .block_logo img {
    width: 200px;
  }

  /* common settings for all smartphone-pages */
  .index {
    font-size: 16px;
  }

  /* Menu pages settings for smartphones */
  main.column_2 {
    padding-right: 0;
    width: 100%;
    float: none;
  }

  aside {
    display: none;
  }

  section {
    padding-bottom: 40px;
  }

  .img_float_r {
    padding-left: 0;
    width: 100%;
    float: none;
    display: block;
  }

  .flex_item {
    padding: 0 5px 15px;
    wisth: 50%;
  }

  .flex_item h3 {
    font-size: 13px;
  }

  .flex_item p {
    font-size: 10px;
  }

  /* Access pages settings for smartphones */
  .block_access iframe {
    height: 300px;
  }

  /* Contact pages settings for smartphones */
  .block_contact {
    padding: 20px 1em;
  }

  .block_contact dl {
    margin-bottom: 1em;
  }

  .block_contact dl,
  .block_contact dl dt,
  .block_contact dl dd {
    padding: 0;
    width: auto;
    font-size: 12px;
    display: block;
  }

  .block_contact dl dt {
    margin-left: 1em;
  }

  .required {
    font-size: 10px;
  }

  input {
    font-size: 12px;
  }

  input[type="text"],
  input[type="email"] {
    width: 80%;
  }

  .block_contact dl dd.btn {
    margin-left: 0;
  }

  select {
    font-size: 12px;
  }

  textarea {
    font-size: 12px;
    width: 80%;
  }
}
